VITE_SUPABASE_URL=https://eeiduupcnxhkfyzgwnik.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_WHdaCG56PVfwFySdJFBocQ_6jU0g8d3
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlaWR1dXBjbnhoa2Z5emd3bmlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQ3MDc4MSwiZXhwIjoyMDg4MDQ2NzgxfQ.42nAyaX_L5OWMpsSGSQ4lUmalzrrYoyBFVcWWBJDzio
